<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">	

<suite thread-count="1" name="Gmail Suite" parallel="tests">
         
<!--   <test name="Google"> -->
<!-- 	 <classes> -->
<!-- 	   <class name="com.automation.testdatamanagment.FetchData"/> -->
<!-- 	 </classes> -->
<!--    </test> -->

<test name="Google"> -->
	 <classes>
	   <class name="com.automation.tests.GoogleSearch"/>
	 </classes>
   </test>
   

</suite>
